# HTTP server port
PORT=8000

# MongoDB connection string
# Use "mongodb://mongodb:27017" when running via docker-compose
# Use "mongodb://localhost:27017" when running the API locally
MONGO_URI=mongodb://localhost:27017

# MongoDB database name
MONGO_DB=todo_db
